{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="album pt-3 py-3">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div class="jumbotron container-fluid">
        <div class="container">
          <h1 class="display-4" style="text-align:center;">PANEL WYKŁADOWCY</h1>
            <h2 style="text-align:center;">{{ lecturer_title }} {{ lecturer_name }}</h2>
          <p class="lead" style="text-align:center;">Dostępne wykłady: <span class="badge badge-secondary">{{amount_of_lectures}}</span></p>
        </div>
      </div>
    <h2>WYKŁADY</h2>
<table id="lectures" class="table table-sm">
    <tr>
        <th>Tytuł</th>
        <th>Rozpoczęcie</th>
        <th>Zakończenie</th>
        <th></th>
    </tr>
    {%  for lecture in lectures %}
        <tr>
            <td>{{ lecture.title }}</td>
            <td>{{ lecture.start_time }}</td>
            <td>{{ lecture.end_time }}</td>
            <td>
                <a href='{% url 'application:lecturer_panel_lecture' lecture_id=lecture.hash %}'>
                  <button class="btn btn-info">
                     SZCZEGÓŁY
                  </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>


</div>

<div class="album pt-3 py-3">
    <h2>ZAMKNIĘTE WYKŁADY</h2>

<table id="closed_lectures" class="table table-sm">
    <tr>
            <th>Tytuł</th>
            <th>Rozpoczęcie</th>
            <th>Zakończenie</th>
            <th></th>
    </tr>
    {%  for lecture in closed_lectures %}
        <tr>
            <td>{{ lecture.title }}</td>
            <td>{{ lecture.start_time }}</td>
            <td>{{ lecture.end_time }}</td>
            <td>
                <a href='{% url 'application:lecturer_export_lecture' lecture_id=lecture.hash %}'>
                  <button class="btn btn-primary">
                     EKSPORT DO CSV
                  </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>


</div>

{% endblock %}
</html>