{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="album pt-3 py-3">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" style="text-align:center;">WYKŁAD {{lecture_id}}</h1>
          <p class="lead" style="text-align:center;">panel wykładowcy</p>
        </div>
      </div>

    <h2>PYTANIA PUBLICZNE</h2>
<table id="questions" class="table table-sm">
    <tr>
        <th>Pytanie</th>
        <th>Tagi</th>
        <th>Głosy</th>
    </tr>
    {%  for question in questions %}
        <tr id="row-{{ question.id }}">
            <td>{{ question.text }}</td>
            <td>{{ question.tags }}</td>
            <td class="vote">{{ question.votes_value }}</td>
        </tr>
    {% endfor %}
</table>

{% if allow_direct_questions %}
<h2>PYTANIA PRYWATNE</h2>
<table id="direct-messages" class="table table-sm">
    <tr>
        <th>Tytuł</th>
        <th>Tekst</th>
    </tr>
    {% for direct_message in direct_messages %}
        <tr>
            <td>
                {{ direct_message.title }}
            </td>
            <td>
                {{ direct_message.text }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

<script>
sortTable()
function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("questions");
        switching = true;
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[2];
            y = rows[i + 1].getElementsByTagName("TD")[2];
            // Check if the two rows should switch place:
            if (x.innerHTML < y.innerHTML) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
            }
            }
            if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            }
        }
        }

    {% load static %}
    var notification = new Audio('{% static "message.mp3" %}');

    var lecture_id = '{{ lecture_id }}';

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/application/lecturer/' + lecture_id + '/');

    chatSocket.onmessage = function(e) {
        notification.play();
        var data = JSON.parse(e.data);
        if(data['type'] === 'msg_approve') {
            var question = data['question'];
            var tags = data['tags'];
            var question_id = data['question_id'];
            var votes = data['question_votes'];
            console.log(data);
            document.querySelector('#questions').innerHTML +=
                "<tr id=\"row-" + question_id + "\"><td>" + question + "</td><td>" + tags + "</td><td class=\"vote\">" + votes + "</td></tr>";
        } else if(data['type'] === 'msg_private'){
            var title = data['title'];
            var text = data['text'];
            console.log(data);
            document.querySelector('#direct-messages').innerHTML +=
                "<tr><td>" + title + "</td><td>" + text + "</td></tr>";
        } else if(data['type'] === 'msg_question') {
            console.log(data);
            var question = data['question'];
            var tags = data['tags'];
            var question_id = data['question_id'];
            console.log("msg waiting for approval");
            document.querySelector('#questions').innerHTML +=
                "<tr id=\"row-" + question_id + "\"><td>" + question + "</td><td>" + tags + "</td><td class=\"vote\">0</td></tr>";
        } else if(data['type'] === 'msg_vote'){
           var value = parseInt(data['vote']);
           var question_id = data['question_id'];
           var new_val = parseInt(document.querySelector("#row-" + question_id).querySelector(".vote").innerHTML) + value;
           document.querySelector("#row-" + question_id).querySelector(".vote").innerHTML = new_val;
           console.log("msg vote")
        } else {
            console.warn("Unknown message received: " + data['type']);
        }
        sortTable()
    };

    chatSocket.onclose = function(e) {
        console.error('Socket closed unexpectedly');
    };

</script>


</div>

{% endblock %}
</html>