{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="album pt-3 py-3">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 style="text-align:center;">LECTURE {{lecture_id}}</h1>
          <p class="lead" style="text-align:center;">Lecturer panel</p>
        </div>
      </div>

    <h2>PUBLIC QUESTIONS</h2>
<table id="questions" class="table table-sm">
    <tr>
        <th>Question</th>
        <th>Tags</th>
    </tr>
    {%  for question in questions %}
        <tr>
            <th>{{ question.text }}</th>
            <th>{{ question.tags }}</th>
        </tr>
    {% endfor %}
</table>

{% if allow_direct_questions %}
<h2>PRIVATE QUESTIONS</h2>
<table id="direct-messages" class="table table-sm">
    <tr>
        <th>Title</th>
        <th>Text</th>
    </tr>
    {% for direct_message in direct_messages %}
        <tr>
            <td>
                {{ direct_message.title }}
            </td>
            <td>
                {{ direct_message.text }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

<script>
    var lecture_id = '{{ lecture_id }}';

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/application/lecturer/' + lecture_id + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if(data['type'] === 'msg_question') {
            var question = data['question'];
            var tags = data['tags'];
            var question_id = data['question_id'];
            console.log(data);
            document.querySelector('#questions').innerHTML +=
                "<tr><th>" + question + "</th><th>" + tags + "</th></tr>";
        } else if(data['type'] === 'msg_private'){
            var title = data['title'];
            var text = data['text'];
            console.log(data);
            document.querySelector('#direct-messages').innerHTML +=
                "<tr><th>" + title + "</th><th>" + text + "</th></tr>";
        } else if(data['type'] === 'msg_approve') {
            var question = data['question'];
            var tags = data['tags'];
            var question_id = data['question_id'];
            console.log("msg approve")
        } else {
            console.warn("Unknown message received: " + data['type']);
        }

    };

    chatSocket.onclose = function(e) {
        console.error('Socket closed unexpectedly');
    };

</script>


</div>

{% endblock %}
</html>