{% extends 'base.html' %}

{% block content %}

<div class="container col-md-6 pt-3 py-3">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}


<h1>Login</h1>
{% if pass_incorrect %}
    <p class="text-danger">Niepoprawne dane logowania</p>
{% endif %}
<form action="{% url 'application:user_login' %}" method="post">
{% csrf_token %}
    <table>
    {{ form }}
    </table>
<input type="submit" value="Log in" />
</form>
<a href="{% url 'application:user_signup' %}">Pierwszy raz? Stwórz konto</a>

</div>

{% endblock %}