{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="album pt-3 py-3">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 style="text-align:center;">MODERATOR PANEL</h1>
            <h2 style="text-align:center;">{{ moderator_name }}</h2>
          <p class="lead" style="text-align:center;">Lectures to moderate</p>
        </div>
      </div>
    <h2>LECTURES</h2>
<table id="lectures" class="table table-sm">
    <tr>
        <th>Title</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Link</th>
    </tr>
    {%  for lecture in lectures %}
        <tr>
            <td>{{ lecture.title }}</td>
            <td>{{ lecture.start_time }}</td>
            <td>{{ lecture.end_time }}</td>
            <td>
                <a href='{% url 'application:mod_panel_lecture' lecture_id=lecture.hash %}'>
                  <button class="btn btn-success">
                     DETAILS
                  </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>



</div>

{% endblock %}
</html>