{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="album pt-3 py-3">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 style="text-align:center;">USER PANEL</h1>
          <p class="lead" style="text-align:center;"> {{user_name}}</p>
        </div>
      </div>

    <center>
        <h2>PICK LECTURE TO SUBSCRIBE</h2>
        {% if id_incorrect %}
            <p class="text-danger">Incorrect lecture hash!</p>
        {% endif %}
        <form action="{% url 'application:user_panel' %}" method="post">
        {% csrf_token %}
            <table>
            {{ form }}
            </table>
        <input type="submit" value="JOIN" />
        </form>
    </center>
</div>

{% endblock %}