{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="album pt-3 py-3">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div class="jumbotron container-fluid">
        <div class="container">
          <h1 class="display-4" style="text-align:center;">WYKŁAD {{lecture_id}}</h1>
            <h2 style="text-align:center;">{{user_nick}}</h2>
          <p class="lead" style="text-align:center;">panel użytkownika</p>
        </div>
      </div>

    <h2>PYTANIA PUBLICZNE</h2>
    <table id="questions" class="table table-sm">
        <tr>
            <th>Pytanie</th>
            <th>Tagi</th>
            <th>Głosy</th>
            <th>Akcja</th>
        </tr>
        {%  for question in questions %}
            <tr id="row-{{ question.id }}">
                <td>{{ question.text }}</td>
                <td>{{ question.tags }}</td>
                <td class="vote">{{ question.votes_value }}</td>
                {%  if question.user_can_vote %}
                    <td>
                        <button class="btn btn-success up_vote_question" value="{{ question.id }}">+</button>
                        <button class="btn btn-danger down_vote_question" value="{{ question.id }}">-</button>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    
    {% if allow_direct_questions %}
    <h2>PYTANIA PRYWATNE</h2>
    <table id="direct-messages" class="table table-sm">
        <tr>
            <th>Tytuł</th>
            <th>Tekst</th>
        </tr>
        {% for direct_message in direct_messages %}
        <tr>
            <td>{{ direct_message.title }}</td>
            <td>{{ direct_message.text }}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
<br><br>
    <hr />
    <div class="justify-content-right">
    <h2>ZADAJ PYTANIE</h2>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">PYTANIE</span>
        </div>
        <input id="question-input" type="text" size="50">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">TAGI </span>
        </div>
        <input id="question-tags-input" type="text" size="50">
      </div>

<br/>
<input id="question-submit" type="button" class="btn btn-primary" value="WYŚLIJ"/>
<input id="message-submit" type="button"  class="btn btn-secondary" value="WYŚLIJ PRYWATNIE"/>
</div>

<script>
sortTable()
function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("questions");
        switching = true;
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[2];
            y = rows[i + 1].getElementsByTagName("TD")[2];
            // Check if the two rows should switch place:
            if (x.innerHTML < y.innerHTML) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
            }
            }
            if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            }
        }
        }

    {% load static %}
    var notification = new Audio('{% static "message.mp3" %}');
    let lecture_id = "{{ lecture_id }}";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/application/user/' + lecture_id + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if(data['type'] === 'msg_question') {
            notification.play();
            var question = data['question'];
            
            var tags = data['tags'];
            var question_id = data['question_id'];
            console.log(data);
            document.querySelector('#questions').innerHTML +=
                "<tr id=\"row-" + question_id +"\"><td>" + question + "</td><td>" + tags + "</td><td class=\"vote\">0</td><td>" +
                "<button class=\"btn btn-success up_vote_question\" value=\"" + question_id + "\">+</button>" +
                "<button class=\"btn btn-danger down_vote_question\" value=\"" + question_id + "\">-</button>" +
                "</td></tr>";
        } else if(data['type'] === 'msg_vote') {
            var value = parseInt(data['vote']);
            var question_id = data['question_id'];
            var new_val = parseInt(document.querySelector("#row-" + question_id).querySelector(".vote").innerHTML) + value;
            document.querySelector("#row-" + question_id).querySelector(".vote").innerHTML = new_val;
        } else if(data['type'] === 'msg_edit') {
            console.log("msg edit");
        } else if(data['type'] === 'msg_delete') {
            var question_id = data['question_id'];
            console.log("msg delete");
        } else {
            console.warn("Unknown message received: " + data['type']);
        }
        set_handlers();
        sortTable()
    };

    chatSocket.onclose = function(e) {
        console.error('Socket closed unexpectedly');
    };

    document.querySelector('#question-input').focus();
    document.querySelector('#question-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#question-submit').click();
        }
    };

    function set_handlers(){
        document.querySelectorAll('.up_vote_question').forEach( function(element) {
            element.onclick = function (e) {
                let question_id = element.getAttribute("value");
                let creator = "{{ user_name }}";
                let vote_value = 1;
                chatSocket.send(JSON.stringify({
                    'creator': creator,
                    'type': 'msg_vote',
                    'question_id': question_id,
                    'vote': vote_value
                }));
                element.parentElement.querySelectorAll("button").forEach(
                    function (button) {
                        button.parentNode.removeChild(button);
                    }
                );
            }
        }
        );

    

    document.querySelectorAll('.down_vote_question').forEach( function(element) {
            element.onclick = function (e) {
                let question_id = element.getAttribute("value");
                let creator = "{{ user_name }}";
                let vote_value = -1;
                chatSocket.send(JSON.stringify({
                    'creator': creator,
                    'type': 'msg_vote',
                    'question_id': question_id,
                    'vote': vote_value
                }));
                element.parentElement.querySelectorAll("button").forEach(
                    function (button) {
                        button.parentNode.removeChild(button);
                    }
                );

            }
        }
        );
    }

    document.querySelector('#question-submit').onclick = function(e) {
        var questionInputDom = document.querySelector('#question-input');
        var tagsInputDom = document.querySelector('#question-tags-input');
        var question = questionInputDom.value;
        var tags = tagsInputDom.value;
        chatSocket.send(JSON.stringify({
            'creator': '{{user_name}}',
            'type': 'msg_question',
            'question': question,
            'tags': tags
        }));
        sortTable()
        questionInputDom.value = '';
        tagsInputDom.value = '';
    };

    document.querySelector('#message-submit').onclick = function(e) {
        var questionInputDom = document.querySelector('#question-input');
        var tagsInputDom = document.querySelector('#question-tags-input');
        var title = questionInputDom.value;
        var text = tagsInputDom.value;
        chatSocket.send(JSON.stringify({
            'creator': '{{user_name}}',
            'type': 'msg_private',
            'title': title,
            'text': text
        }));

        questionInputDom.value = '';
        tagsInputDom.value = '';
        document.querySelector('#direct-messages').innerHTML +=
            "<tr><td>" + title + "</td><td>" + text + "</td></tr>";
            sortTable()
    };

    set_handlers();


</script>

{% endblock %}